.checkbox-container {
  display: flex;
  text-transform: capitalize;
  align-items: center;
}

.checkbox-container input {
  height: 18px;
  width: 18px;
  margin-right: 8px;
}

.checkbox-container + .checkbox-container {
  margin-top: 8px;
}